# Machine Learning
numpy
pandas
scikit-learn
scikit-surprise

# Visualización
matplotlib
seaborn

# API
flask
flask-cors
gunicorn

# Utilidades
joblib
scipy

# Database
psycopg2-binary

# HTTP requests
requests

# Environment
python-dotenv